
[submodule "Projects/2nd-Project"]
	path = Projects/2nd-Project
	url = git@github.com:pedronunomacedo/rcom-project-g0901-2nd-Project.git
[submodule "Projects"]
	path = Projects
	url = git@github.com:pedronunomacedo/RC-Projects.git
